label {
	display: inline-block;
	text-align: right;
	width: 100px;
	padding-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.div_deg{
	background-color: skyblue;
	width: 400px;
	padding-top: 70px;
	padding-bottom: 70px;
}